<!DOCTYPE html>
<html>
<head>
  <title>Is D306 Available?</title>
  <meta name="description" content="Schedule checker built using Flask and Python deployed on heroku">
<link rel="stylesheet" href="../static/styles/style.css">
<!-- CSS only -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

<style>
      body {
        background-color: {{backColor}};
        }

</style>

</head>
<body>
<div>
    <h1>{{ status }}</h1>
    <h2><em>"{{eventName}}"&nbsp;</em>{{subText}}</h2>
    <a href="https://tahvel.edu.ee/#/timetable/31/room/3439/440"><button class="button">Check Schedule</button></a>
</div>

</body>
<footer class="footer">
      <p>Designed with ❤️ by <a href="https://ko-fi.com/Gorkem">Görkem</a></p>


      <!-- <a class="licensePic" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a> -->
      <p class="subsubtext">This website is open-source. You can access and contribute by <a href="https://github.com/gocivici/schedule-checker">clicking here</a>.</p>


    </footer>
</html>
